@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #thermal-receipt-container,
  #thermal-receipt-container * {
    visibility: visible;
  }
  #thermal-receipt-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    background: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
}
